body {
  height: 100vh;
  width: auto;
  margin: 0;
}

.grid {
  height: 100vh;
  width: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 33.3333%;
}

.gridSquare {
  height: 25%;
  width: 25%;
  background-color: white;
}
/* .gridSquare:hover {
  background-color:grey;

} */