body {
  height: 100vh;
  width: auto;
  margin: 0;
}

.grid {
  height: 100vh;
  width: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 33.3333%;
}

.gridSquare {
  height: 25%;
  width: 25%;
  background-color: navy;
  opacity: 0%;
  transition: all 0.5s; 
}

.hovered{
  background-color:grey;
  opacity: 100%;
  transition: all 1s; 
}